<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Snowsmell's blog</title>
</head>
<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="css/index.css">
<link rel="stylesheet" href="css/jquery.fullPage.css">

<body>
	<div id="dowebok">
		<div class="section">
			<div class="container">
				<h1>SnowSmell == 雪气味</h1>
				<h3>基于jq扩展的文本输入框组件</h3>
				<p>修改配置</p>
				<p>@param width {num} 设置文本域的长度单位是px
					<input type="text" v-model="area.width">
				</p>
				<p>@param height {num} 设置文本域的宽度单位是px
					<input type="text" v-model="area.height">
				</p>
				<p>@param font {num} 文本域字体大小
					<input type="text" v-model="area.font">
				</p>
				<p>@param limit {num} 文本域限制字数
					<input type="text" v-model="area.limit">
				</p>
				<p>@param text {String} 文本域默认内容
					<input type="text" v-model="area.text">
				</p>
				<p>@param color {String} 文本域字体颜色
					<input type="text" v-model="area.color">
				</p>
				<div id="area1"></div>
			</div>

		</div>
		<div class="section">
			<div class="slide">
				<div class="container">
					<h3>基于jq扩展的画板签字组件</h3>
					<div id="sign1"></div>
					<button @click="clearsign">重新签名</button>
					<button @click="savepic">保存签名</button>
					<span v-if = 'pic.length>0'>键盘->键查看签名</span>
					<ul>
						<li>width {number} 设置区域宽度</li><li><input type="text" v-model="sign.width"></li>
						<li>height {number} 设置区域高度</li><li><input type="text" v-model="sign.height"></li>
						<li>lineWidth {number} 线宽</li><li><input type="text" v-model="sign.lineWidth"></li>
						<li>lineColor {string} 线的颜色</li><li><input type="text" v-model="sign.lineColor"></li>
						<li>background {string} 画布背景色</li><li><input type="text" v-model="sign.background"></li>
						<li>border {string} 区域边框</li><li><input type="text" v-model="sign.border"></li>
						<li>$(element).sig('empty'),清空当前画布实例</li>
						<li>$(element).sing('exportImg')保存当前画布为图片，base64格式,存储于sessionStorage</li>
					</ul>
				</div>								
			</div>
			<div class="slide">
				<div v-if="pic.length==0">这里还啥都没有，先签个名试试</div>
				<img :src="pic[0]" alt="">
			</div>
			<div class="slide">

			</div>
		</div>
		<div class="section">
			<h3></h3>
		</div>
		<div class="section">

		</div>
	</div>
	<!-- <a href="javascript:;" class="back">返回</a> -->
</body>
<script src="lib/jquery/jquery-3.0.0.min.js"></script>
<script src='lib/jquery/jquery.fullPage.min.js'></script>
<script src="lib/baseJq/sign.js"></script>
<script src="lib/baseJq/textarea.js"></script>
<script src="lib/vue.js"></script>
<script src="js/index.js"></script>

</html>